.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  width: 106px;
  height: 42px;

  border-radius: 10px;
  border: none;

  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 600;

  cursor: pointer;
  transition: all .2s ease;
}

.btn-primary {
  --btn-bg: var(--primary-color);
  --btn-hover: var(--primary-color-400);
  --btn-border: var(--primary-color);

  --btn-text: var(--text-light-primary);
}

.btn-secondary {
  --btn-bg: var(--primary-color-100);
  --btn-hover: var(--primary-color-200);
  --btn-border: var(--primary-color);

  --btn-text: var(--primary-color);
}

.btn-disabled {
  --btn-bg: var(--greyscale-200);
  --btn-hover: var(--greyscale-200);
  --btn-border: var(--greyscale-300);

  --btn-text: var(--text-light-disable);
}

.btn-contained {
  background: var(--btn-bg);
  color: var(--btn-text);
}

.btn-shadow {
  background: var(--btn-bg);
  color: var(--btn-text);
}

.btn-outline {
  background: transparent;

  border: 1px solid var(--btn-border);

  color: var(--btn-border);
}

.btn:disabled,
.btn-disabled {
  cursor: not-allowed;
}

.btn-google {
  width: 100%;
  height: 42px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  background: #FFFFFF;

  border: 1px solid var(--greyscale-200);
  border-radius: 10px;

  color: var(--text-dark-primary);
  font-size: 14px;
  font-weight: 500;

  cursor: pointer;

  transition: all .2s ease;
}

.btn-google:hover {
  background: #FAFAFA;
}

.btn-google__icon {
  width: 18px;
  height: 18px;
}